.arrangeElement--page-random-image--div
{
  position: fixed;
  background-image: var( --background-image );
  width: 200px;
  height: 100px;

  background-size: contain;
  background-repeat: no-repeat;

  filter: drop-shadow(2px 4px 6px black) sepia(0.5);
  opacity: 0.4;
  z-index: -1;
}
